<!DOCTYPE html>
<html>
  <head>
    <style>
    p  {color:green ;font-size:160%;text-align:center;
      border:1px solid black;
      padding:10px; }
    </style>
  </head>

<%=link_to image_tag('giphy.gif', :size=>"100x100"),'http://www.cnn.com/2015/11/13/us/google-self-driving-car-pulled-over', :target=>"_blank" %>

<p> The Car above ready to take off will take u another site where u can see for ur self the dilemma of cop pulling over a driverless car........ If u are not interested in going any further than this then u can always go back to the home page by clicking the link below......<span style="color:red"> ENJOY UR TIME</span> </p>

  <%=link_to image_tag('homepage.gif',:size=>"100x100"),root_path %>