<!DOCTYPE html>
<html>
<head>
<title> </title>
<style>

body {background-color:orange}

p    {color:blue ;font-size:160%;text-align:center;
      border:1px solid black;
      padding:10px; }
ul#menu {padding:0;}
ul#menu li {display:inline;}
ul#menu li a {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border-radius: 100px 100px 0 0;

}

ul#menu lia:hover {background-color: white;}

  #image {width:1270;
           height:700}

</style>
</head>

<body> <!--does not work in html-5-->
  <div class="center jumbotron">

    <h1><b><strong> Welcome to!!!!<del> "THE ALPHA-BLOG!!"</del></strong></b> </h1>
    <p ><b><i><em><mark><sup>Where</sup><del> CREATION </del><sub>thrives</sub></b></i></mark></em></p>
    <%= link_to"Click 2 Create","#", class: "btn btn-danger btn-lg btn-xlarge" %>
    <!--bdo dir="ltr" style="color:blue;font-size:120%;background-color:white">" wolʇ noiƚɒɘɿɔ ɘʜƚ ƚɘ⅃"</bdo -->
  </div>




  <%=link_to image_tag('images.jpg',:size=>"100x100"),about_path%> || <%= link_to image_tag('img_2726pmg.png',:size=>"100x100" ) , articles_path %>
<blockquote>
<div style="background-color:black; color:white ;padding:20px">
  <span style="color:black">  <span style="color:red"> John Stewart above will take u to ABOUT page, if u r not interested in writing something creative and just wandering around. The Keyboard will take you to the page where u can create your own blog<br> If you r into politics, the link is below of the latest poll for both parties</span> -----> <span style="color:black">GET WELL SOON</span>

	</div>
</blockquote>

<ul id="menu">
    <li><a href="http://www.realclearpolitics.com/epolls/2016/president/us/2016_democratic_presidential_nomination-3824.html"target= "_blank">DEMOCRATS</a></li>
    <li><a href="http://www.realclearpolitics.com/epolls/2016/president/us/2016_republican_presidential_nomination-3823.html"target="_blank">REPUBLICAN</a></li>
 </ul>




</body>

</html>