$navbar-default-bg: orange;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float:left;
    font-size:1.7em;
    color:white;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-weight:bold;
}

#logo:hover {
       color:green;
       text-decoration:underline;
}

.center {
    color: orange;
    text-align: center;
}

.jumbotron {
    background-image: asset-url('bigbang_theory.jpg');
    background-size:cover;
}
.jumbotron h1 {
    font-size:300%;
    font-family:Comic Sans MS;
}

.btn-xlarge{
  font-size:2em;
  color:black;
  background-color: white;
}

.article-meta-details {
             border-top: 1px solid black;
             margin-top: 15px;
}

.article-action {
          border-top: 1px solid #000000;
          padding-top: 5px;
}

.description {
          margin-top: 0;
}

.article-title {
          font-weight: bold;
          font-size: 1.5em;
}

.article-body {
         border-top: 1px solid #eaeaea;
         padding-top: 15px;
         padding-bottom: 15px;
}

.listing{
      list-style:none;
      padding-left:0;
}

.badge{
    background-color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: Courier;
    color: red;
}

.input_checkbox input{
    width: auto !important;
}

.footer {
	      background-color: black;
	      color:white;
	      clear: both;
	      text-align: center;
        font-family:Comic Sans MS;
         }
footer ul {
       float:left;
       list-style:none;
}

footer li {
       float:left;
       margin-left:15px;
}
