<div class="container">
  <footer class="footer">
    <del>U DECIDE AND IF U DON'T DECIDE DON'T COMPLAIN!!!!!</del> &copy <br>
    <small>
      Created by: Ashim Ghimire
    </small>
    <nav>
      <ul>
        <li>[ <%= link_to "About", about_path %> ]</li>
        <li>[ <%= link_to "Homepage", root_path %> ]</li>
      </ul>
    </nav>
  </footer>
</div>
